/* ...................................

            Mixins

......................................*/
/* ...................................

            Variables

......................................*/
/* ...................................

           Styles

......................................*/
.wrapper {
  background-color: #F0F1F0; }
  .wrapper nav#sidebar .avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%; }
  .wrapper #content {
    padding: 0; }
    .wrapper #content nav,
    .wrapper #content .navbar {
      margin-bottom: 0 !important;
      padding: 0;
      background-color: #fff !important; }
      .wrapper #content nav .container-fluid,
      .wrapper #content .navbar .container-fluid {
        padding-right: 0 !important;
        padding-left: 0 !important;
        height: 100%; }
        .wrapper #content nav .container-fluid .main,
        .wrapper #content .navbar .container-fluid .main {
          background: none;
          border-right: 1px solid #E5E7E4;
          padding: 1.5rem; }
        .wrapper #content nav .container-fluid .btn,
        .wrapper #content .navbar .container-fluid .btn {
          border-radius: 0; }
        .wrapper #content nav .container-fluid .btn-sec,
        .wrapper #content .navbar .container-fluid .btn-sec {
          background: none; }
        .wrapper #content nav .container-fluid .gray-out,
        .wrapper #content .navbar .container-fluid .gray-out {
          color: #929392; }
        .wrapper #content nav .container-fluid .navbar-text,
        .wrapper #content .navbar .container-fluid .navbar-text {
          font-size: 1rem;
          padding-left: 1rem;
          padding-right: 1rem;
          padding-top: 0 !important;
          padding-bottom: 0 !important; }
        .wrapper #content nav .container-fluid .rb,
        .wrapper #content .navbar .container-fluid .rb {
          border-left: 1px solid #E5E7E4;
          padding: 0;
          margin: 0;
          height: 100%;
          padding: 1rem; }
  .wrapper .dshbrd-content .gray-border {
    border: 1px solid #BCBEBB;
    border-radius: 15px;
    padding: 8px;
    font-size: .8rem; }
  .wrapper .dshbrd-content .jumbo {
    background-color: #fff;
    padding-top: 3rem; }
    .wrapper .dshbrd-content .jumbo .list-inline {
      padding-bottom: 1px; }
    .wrapper .dshbrd-content .jumbo a:hover {
      border-bottom: 3px solid #1F487E; }
  .wrapper .dshbrd-content #progress1, .wrapper .dshbrd-content #progress2, .wrapper .dshbrd-content #progress3 {
    width: 100%; }
  .wrapper .dshbrd-content div.card {
    background: none !important;
    border: none !important; }
  .wrapper .dshbrd-content .push-down {
    padding-top: 3rem; }
  .wrapper .dshbrd-content div.progressbar-text {
    top: 60% !important; }
  .wrapper .dshbrd-content .line-separator {
    height: 1px;
    background: #717171;
    border-bottom: 1px solid #313030; }

/* ...................................

            MediaQueries

......................................*/
@media screen and (max-width: 768px) {
  .none {
    display: none; }

  .navbar-text {
    text-align: center; }

  #progress1, #progress2, #progress3 {
    display: none; } }
@media screen and (max-width: 320px) {
  canvas {
    height: 5rem; }

  #progress1, #progress2, #progress3 {
    display: none; } }
@media screen and (min-width: 768px) {
  .none, .progress {
    display: none; }

  .navbar-text {
    text-align: center; } }

/*# sourceMappingURL=stylesheet.css.map */
