/* ...................................

            Mixins

......................................*/


/* ...................................

            Variables

......................................*/
$borderRight: 1px solid #E5E7E4;


/* ...................................

           Styles

......................................*/
.wrapper {
    background-color: #F0F1F0;
    nav#sidebar {
        .avatar {
            vertical-align: middle;
            width: 50px;
            height: 50px;
            border-radius: 50%;
        }
    }
    #content {
        padding: 0;
        nav,
        .navbar {
            margin-bottom: 0 !important;
            padding: 0; // padding-right: .5rem;
            // padding-left: 0.2rem;
            background-color: #fff !important; // padding: 0 !important;
            .container-fluid {
                padding-right: 0 !important;
                padding-left: 0 !important;
                height: 100%;
                .main {
                    background: none;
                    border-right: $borderRight;
                    padding: 1.5rem;
                }
                .btn {
                    border-radius: 0; // padding: 0;
                }
                .btn-sec {
                    background: none;
                }
                .gray-out {
                    color: #929392;
                }
                .navbar-text {
                    font-size: 1rem;
                    padding-left: 1rem;
                    padding-right: 1rem;
                    padding-top: 0 !important;
                    padding-bottom: 0 !important; // border-right: $borderRight;
                }
                .rb {
                    border-left: $borderRight;
                    padding: 0;
                    margin: 0;
                    height: 100%;
                    padding: 1rem;
                }
            }
        }
    }
    .dshbrd-content {
        .gray-border {
            border: 1px solid #BCBEBB;
            border-radius: 15px;
            padding: 8px;
            font-size: .8rem;
        }
        .jumbo {
            background-color: #fff;
            padding-top: 3rem;
            // border-bottom: .1rem solid #E2E1E1;
            .list-inline {
                padding-bottom: 1px;
            }
            a {
                &:hover {
                    border-bottom: 3px solid #1F487E;
                }  
            }
        }
        #progress1, #progress2, #progress3 {
            // margin: 3rem;
            width: 100%;
            // height: 200px;
            // position: relative;
        }
        div.card {
            background: none !important;
            border: none !important;
        }
        .push-down {
            padding-top: 3rem;
        }
        div.progressbar-text {
            top: 60% !important;
        }
        .line-separator {
            height:1px;
            background:#717171;
            border-bottom:1px solid #313030;
        }
    } 
}

/* ...................................

            MediaQueries

......................................*/

@media screen and (max-width: 768px) {
    .none {
        display: none;
    }
    .navbar-text {
        text-align: center;
    }
    #progress1, #progress2, #progress3 {
        display: none;
    } 
}

@media screen and (max-width: 320px) {
    canvas {
        height: 5rem;
    }
    #progress1, #progress2, #progress3 {
        display: none;
    } 
}

@media screen and (min-width: 768px) {
    .none, .progress {
        display: none;
    }
    .navbar-text {
        text-align: center;
    }
     
}